<div>
  <h1>List of tasks to do</h1>
  <table>
    <tr>
      <th>Task name</th>
      <th>Task finish date</th>
      <th>Is completed</th>
    </tr>
    <tr *ngFor="let task of tasks, let i=index" [ngClass]="{'finishedItem': task.isFinished, 'expired': task.checkIfIsExpired(), 'secondItem': i % 2 != 0 && !task.checkIfIsExpired() && !task.isFinished}">
      <td>{{task.taskName}}</td>
      <td>{{task.taskDate}}</td>
      <td><input type="checkbox" [(ngModel)]="task.isFinished"></td>
      <td><input type="button" value="Delete" (click)="delete(task)"></td>
    </tr>
  </table>
</div>
<div>
  <h3>Adding a new task</h3>
  <form ngForm (ngSubmit)="submit()">
    <label for="taskName">Name of a task:</label>
    <input id="taskName" name="taskName" type="text" [(ngModel)]="taskName"><br>

    <label for="taskDate">Date till a task has to be finisched</label>
    <input id="taskDate" name="taskDate" type="date" [(ngModel)]="taskDate"><br>

    <input type="submit" value="Add to the list">
  </form>
</div>

